<IfModule mod_rewrite.c>

    <IfModule mod_negotiation.c>

        Options -MultiViews -Indexes

    </IfModule>

    RewriteEngine On

     # Opción 1: Mantener RewriteBase (Asegúrate que coincida EXACTAMENTE con la URL)

    RewriteBase /inf513/grupo07sa/proyecto2/public/

    # Handle Authorization Header

    RewriteCond %{HTTP:Authorization} .

    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header

    RewriteCond %{HTTP:x-xsrf-token} .

    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]


    # Redirect Trailing Slashes If Not A Folder...

    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteCond %{REQUEST_URI} (.+)/$

    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...

    # Opción 2: Ruta explícita al index.php (Prueba esto si lo anterior falla)

    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^ /inf513/grupo07sa/confecciones-soledad/public/index.php [L]

</IfModule>